sphinx
alabaster
-e git://github.com/seantis/more.itsdangerous.git#egg=more.itsdangerous
-e git://github.com/seantis/more.webassets.git#egg=more.webassets
-e git://github.com/OneGov/onegov.server.git#egg=onegov.server
-e git://github.com/OneGov/onegov.core.git#egg=onegov.core
-e git://github.com/OneGov/onegov.user.git#egg=onegov.user
-e git://github.com/OneGov/onegov.page.git#egg=onegov.page
