sphinx
alabaster
-e git://github.com/seantis/more.transaction.git#egg=more.transaction
-e git://github.com/OneGov/onegov.server.git#egg=onegov.server
-e git://github.com/OneGov/onegov.core.git#egg=onegov.core
